html{
    font-size: 62,5%;
     /* /1rem vaut 10px */
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}
body{
    font-size: 1.4 rem;   
    /* soit 14px */
    font-family: arial;
    color:white;
   
}
    
h1{
    color:brown;
    font-size: 1rem;
    
}
.container{
    height: 100vh;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    background-color: #1e2337 ;
    
}

.part2{
    background-color: orange;
}

.part3{
    background-color: orangered;
}

/* MODAL */

.modal-container{
    height: 100vh;
    width:100%;
    background-color:rgba(136, 222, 136, 0.8) ;
    position: fixed;
    top: 0;
    left:0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.modal-details{
    background-color: antiquewhite;
    width: 50%;
    text-align: center;
    position: relative;
    padding: 3rem;
    color:#1e2337;
}

.modal-details i{
    position: absolute;
    top: -2px;
    right: -2px;
    font-size: 2rem;
    padding: 1rem;
    color: grey;
    cursor: pointer;
}

/* LE TITRE */
.modal-titre{
    font-size: 3rem;
    font-weight: 900;
    margin-bottom: 1rem;
}

/* LE CODE */
.code{
    background-color: black;
    color: white;
    font-family: monospace;
    padding: 1rem;
   
}

/* LE BOUTON */

.btn-success{
    height: 4rem;
    background-color:rgb(231, 171, 61);
    color: white;
    padding: 1rem;
    border: none;
    cursor: pointer;
    width: 100%;
}
.btn-success:hover{
    opacity: 0.9;
}

/* Rendre invisible le div modal-container */
.modal-container{
    display:none;
}
.code{
    display: none;
}

