html{
    font-size: 62,5%;
     /* /1rem vaut 10px */
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}
body{
    font-size: 1.4 rem;   
    /* soit 14px */
    font-family: arial;
    color:white;
   
}
    
h1{
    color:brown;
    font-size: 1rem;
    
}
.container{
    height: 100vh;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    background-color: #b0d092fe ;
    
}

.question{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2rem;
    border-bottom: 1px solid #777;
}

.réponse{
    color:#777;
    background-color: #eee;
    padding: 3rem;
    display: none;
}

.visible{
    display: block
}

.question i{
    margin-left: 2rem;
}