html{
    font-size: 62,5%;
     /* /1rem vaut 10px */
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}
body{
    font-size: 1.4 rem;   
    /* soit 14px */
    font-family: arial;
    color:white;
   
}

/* .container h1{
    color:rgb(252, 252, 252);
    font-size: 1rem;
} */
.container{
    height: 100vh;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    background-color: #1e2337 ;
}

.cookies{
    position: fixed;
    bottom: 0;
    left:0;
    width: 100%;
    background-color: grey;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 3rem;
    opacity: 1;
    transition: 5;
}



.cookies-btn{
    display: flex;
    gap: 15px;
}

.btn{
    border-radius: 10px;
    padding: 1rem;
    border: none;
    color: rgb(251, 250, 250);
}

.btn.btn-success{
    background-color: #1E2337;
}

.btn.btn-success:hover {
    opacity: 0.5;
}
.btn.btn-deny{
    background-color: grey;
}